/* 修改框架样式 */
.el-input__inner::placeholder {
  color: #333 !important;
}

.el-textarea__inner::placeholder {
  color: #333 !important;
}

/* switch按钮样式 */
.switch .el-switch__label {
  position: absolute;
  display: none;
  color: #fff !important;
}
/*打开时文字位置设置*/
.switch .el-switch__label--right {
  z-index: 1;
}
/* 调整打开时文字的显示位子 */
.switch .el-switch__label--right span {
  margin-right: 20px;
}
/*关闭时文字位置设置*/
.switch .el-switch__label--left {
  z-index: 1;
}
/* 调整关闭时文字的显示位子 */
.switch .el-switch__label--left span {
  margin-left: 20px;
}
/*显示文字*/
.switch .el-switch__label.is-active {
  display: block;
}
/* 调整按钮的宽度 */
.switch.el-switch .el-switch__core,
.el-switch .el-switch__label {
  width: 90px !important;
  margin: 0;
}
/* 通用样式 */
a {
  text-decoration: none;
  color: #304455;
}
img {
  border: none;
}
.sm-margin-left-0x {
  margin-left: 0 !important;
}

@media screen and (max-width: 768px) {
  #mobile-bar {
    display: block !important;
  }
  #pc-bar {
    display: none !important;
  }
  #aside {
    padding-top: 40px !important;
    width: 100% !important;
  }
  #main {
    padding-top: 60px !important;
  }
  #response-heander .response-header-label {
    width: 100% !important;
    text-align: left !important;
    justify-content: left !important;
  }
  .sm-margin-left-0x {
    margin-left: 0.6rem !important;
  }
}

/* 手机导航栏 */
#mobile-bar {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 20;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 25px;
  width: 25px;
  z-index: 2;
}

#mobile-bar .logo {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
}

/* 电脑导航栏 */
#pc-bar {
  position: fixed;
  width: 100%;
  top: 0;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
  height: 40px;
  padding: 10px 60px;
  z-index: 10;
}
#logo {
  display: inline-block;
  font-size: 1.5em;
  line-height: 40px;
  color: #273849;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}

/* #nav {
	position: fixed;
}
#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 30px;
	top: 10px;
	height: 40px;
	line-height: 40px;
}
#nav li {
	display: inline-block;
	position: relative;
	margin: 0 0.6em;
	cursor: pointer;
}
#nav li a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #42b983;
}
 */

#main {
  color: #333;
  padding-top: 80px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  scrollbar-width: thin;
}

#response-heander {
  background-color: #f5f7fa;
  border-radius: 5px 5px 0 0;
  padding: 10px 5px;
}
#response-heander .response-header-box {
  display: flex;
  flex-wrap: wrap;
}
#response-heander .response-header-label {
  width: 105px;
  margin-right: 10px;
  display: flex;
  text-align: right;
  justify-content: right;
  align-items: center;
}
#response-heander .response-header-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-end;
}

#response-heander .response-header-body .small {
  line-height: 34px;
  margin-left: 0.6rem;
}

#response-charts-line {
  background-color: #f5f7fa;
  padding-top: 10px;
}

#response-body {
  background-color: #c1c1e0;
  color: white;
  padding: 5px;
  height: 40vh;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}
